<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Not Found</title>
  <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
</head>
<body>
<h1>404 Not Found</h1>
<p>The page you were looking for could not be found.</p>

<form action="/" method="GET">
  <input type="submit" value="Go to Home Page" />
</form>
</body>
</html>